body{
    background-image: url(stock-photo-sad-teenage-girl-sitting-on-the-floor-while-hand-is-offering-help-and-support-525669913.jpg);
    background-size: cover;
    background-position: center ;
    color:black
}